<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher One - Technology</title>
</head>
<body>
    <h1>Publisher One</h1>
    <h2>Technology Articles</h2>

    <p>Latest news about cybersecurity, artificial intelligence and software.</p>

    <iframe
        src="https://127.0.0.1:9000/?publisher=publisher-one&page=technology"
	width="500"
        height="120">
    </iframe>
    <script src="http://analytics.test:9100/static/analytics.js"></script>
</body>

</html>

